h1{
  font-family: 'Rowdies';
}
p{
  font-family: 'Dancing Script';
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
}
form{
  font-size: 1.5em;
  margin-bottom: 10px;
}
#signmeup{
  margin-top: 15px;
  width: 200px;
  height: 50px;
  font-size: 1.2em;
  background-color: orange;
  /* for curving  */
  border-radius: 25px;
}
h2{
  font-family: 'Ubuntu';
}
body{
  font-family:'Ubuntu';
  background:#133863;
  color : white;
  text-align: center;
  margin: auto;
  border:50px solid #2eb893;
  border-top: 0px;
}
